.info {
  display: flex;
  justify-content: space-between;

  margin-bottom: 1.5rem;

  color: var(--blue);
}

.info h2 {
  font-size: 0.875rem;
  font-weight: bold;
}

.completed {
  color: var(--purple-dark);
}

.createdTasks,
.completed {
  display: flex;
  gap: 1rem;
}

.count {
  padding-left: 0.8rem;
  padding-right: 0.8rem;

  border-radius: 1rem;

  font-size: 0.75rem;
  font-weight: bold;

  color: var(--gray-100);
  background: var(--gray-400);
}
